UseRoaming no

Host *
IdentityAgent /run/user/1000/keyring/ssh
ControlMaster auto
ControlPersist yes
ServerAliveInterval 300
ServerAliveCountMax 2
NoHostAuthenticationForLocalhost yes
LogLevel ERROR
GSSAPIAuthentication no
