UseRoaming no

Host *
UserKnownHostsFile ~/.ssh/new_known_hosts ~/.ssh/known_hosts
ControlMaster auto
ControlPersist yes
ServerAliveInterval 300
ServerAliveCountMax 2
NoHostAuthenticationForLocalhost yes
LogLevel ERROR

Host pinch
Hostname 45.55.131.155
Port 3333

Host vagrant
Hostname localhost
Port 2222

Host bertrand
Hostname localhost
Port 12345
