UseRoaming no

Host *
ControlMaster auto
ServerAliveInterval 300
ServerAliveCountMax 2
NoHostAuthenticationForLocalhost yes
LogLevel ERROR

Host github.com
Hostname localhost
Port 12346

Host bitbucket.org
Hostname localhost
Port 12347
