UseRoaming no

Host *
UseKeychain yes
IdentityAgent /run/user/1000/keyring/ssh
ControlMaster auto
ControlPersist yes
ServerAliveInterval 300
ServerAliveCountMax 2
NoHostAuthenticationForLocalhost yes
LogLevel ERROR
GSSAPIAuthentication no

Host bertr bertrand
ProxyCommand ssh -W %h:%p pinch
Hostname localhost
Port 12345
User ted

Host vagra vagrant
Hostname localhost
User vagrant
Port 2222
UserKnownHostsFile /dev/null
StrictHostKeyChecking no
PasswordAuthentication no
IdentityFile /home/ted/.vagrant.d/insecure_private_key
IdentitiesOnly yes
LogLevel FATAL
ForwardAgent yes

Host pinch
Hostname 45.55.131.155
Port 3333
User ted

Host aview-jenkins aview-jenkins.digi.com
User jenkins

Host mtk-vln-avbld01 mtk-vln-avbld01.digi.com
User jenkins

Host tm1 dm1 dm2
Hostname 10.10.235.17
User tlilley

Host tm1-*
ProxyCommand ssh -W %h:%p tm1
User tlilley

Host dm1-*
ProxyCommand ssh -W %h:%p dm1
User tlilley

Host dm2-*
ProxyCommand ssh -W %h:%p dm2
User tlilley

Host pa1
Hostname 172.31.5.1
User tlilley

Host pa1-*
ProxyCommand ssh -W %h:%p pa1
User tlilley

Host pvt01
Hostname 10.148.10.22
User tlilley

Host pvt01-*
ProxyCommand ssh -W %h:%p pvt01
User tlilley

Host perf01
Hostname 172.17.1.22
User tlilley

Host perf01-*
ProxyCommand ssh -W %h:%p 172.31.5.1
User tlilley
